
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~select2/dist/css/select2.min.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table td {
    vertical-align: middle;
}

.table thead tr td {
    text-align: center;
    font-weight: bold;
}

.centered {
    text-align: center;
}

.form-button {
    display: inline-block;
    margin: 0;
}

.card-title {
    margin: 0;
}

.modal_error {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: .9em;
}

.label-with-modal {
    display: flex;
}

.label-with-modal > * {
    display: block;
}

.ultramodal {
    z-index: 99999999999;
}
.sidebar, .brand-link {
    background: #B23737;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    background: gray;
}
